body{
    background-color:darkslategrey;
    background: linear-gradient(to bottom right,darkslategrey, black, darkslategrey, black);
    text-align:center;
    font-family: 'Cinzel Decorative';
    height: 100%;
    margin: 0px;
    text-shadow: 2px 2px 5px darkslategrey;
}

footer {
	height: 200px;
	background-color: black;
	text-align: center;
	padding: 10px 0px;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

header {
    
	height:30%;
    margin-top:0px;
    padding-top:0px;
    text-shadow: 2px 2px 5px black;
}


.card{
    margin-left:30%;
    margin-right:30%;
    text-align:center;
    background-color:#d4d4d4;
}
.card-title{
    text-decoration:wavy;
    font-size:20px;
}
.card-block {
    background-color:#cacaca;
}
.card-img{
    margin-top:3%;
    width:90%;
    height:auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    object-fit:cover;
    display: block;
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
  text-shadow: 2px 2px 5px black;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.container {
    overflow: hidden;
    background-color:#313131;
    
}

.container a {
    float: left;
    display: block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 18px;
    height:30px;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
} 

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}