<div style="color:aliceblue">
    <h1>Contact us</h1>
    <br/>
    <br/>
    <p>If you have any questions please do not hesitate to contact us:</p>
    <br/>
    <email address="dotnet-how@gmail.com" content="Email us!"></email>
    <div style="margin-top:20%"></div>
</div>