<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>Astronomical Objects Shop</title>
</head>
<body>
@*    <header>*@
@*        <div class="container">*@
@*            <a href="#home">Home</a>*@
@*            <a href="#buy">Buy</a>*@
@*            <a href="#about">About</a>*@
@*            <h2 style="text-align:right; color:aliceblue;"> Asteroid Shop </h2>*@
@*        </div>*@
@*    </header>*@
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Asteroid Shop</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @await Component.InvokeAsync("ShoppingCartSummary") 
                @await Html.PartialAsync("LoginPartial")
            </ul>
        </div>
    </div>
</nav>



    <div>
        @RenderBody()
    </div>


    <footer>
        <br>
        <p>©Team5 2018</p>
        <p>All rights reserved.</p>
        <p>Follow us on:</p>
        <div>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
    </footer>
</body>
</html>
